.mat-tab-group {
    margin-bottom: 48px;
    justify-content: space-between;
}

::ng-deep .mat-tab-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.main-container {
    margin: 0 auto;
    text-align: center;
}

.header {
    color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
}

.control-button {
    width: 30px;
    height: 30px;
    background-color: #0066cc;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border-color: #0066cc;
}

.visitor-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-info div {
    margin-top: 10px;
}

.tabs-container {
    margin-top: 20px;
}
.current-day {
    font-weight: bold;
    white-space: nowrap; /* כדי למנוע מהטקסט לרדת לשורה נוספת */
  }

  
  
